*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 0px 20px;       
}
#nav h4{
    font-size: 15px;
    font-weight: 500;
}
#nav i{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 50%;
}
#center{
    width: 100%;
    background-color: white;
    padding: 30px 55px;
}
#center h1{
    position: absolute;
    top: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 450;
    line-height: 60px;
}
#center-1 p{
    position: absolute;
    top: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 90;
    line-height: 25px;
}
#right{
    position: absolute;
    left: 75%;
    top: 45%;
    width: 30%;
}
.elem{
    padding: 12px 0px;
    border-top: 2px solid black;
}
.elem i{
    position: absolute;
    right: 18%;
    font-size: 25px;
    font-weight: 100px;   
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-size: 15px ;
    font-weight: 400;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover{
    background-color: antiquewhite;;
}

#bottom{
    width: 100%;
    height:100vh;
}